/* progress-bar.component.css */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.progress {
  width: 100%;
  height: 100%;
  background: #000000;
  animation: progress-animation 2s infinite;
}

@keyframes progress-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
