<section class="pricing-section">
  <div class="container">

    <div class="header-titre animate" appScrollAnimation>
      <h1>Nos Tarifs Simples et Flexibles</h1>
      <p>Choisissez l'abonnement qui correspond le mieux à la croissance de votre entreprise. Tous les plans incluent un accès complet aux fonctionnalités d'efere.</p>
    </div>

    <div class="pricing-grid">

      <div class="price-card animate" appScrollAnimation *ngFor="let plan of tarifs">
        <div class="tag" *ngIf="plan.tag">{{ plan.tag }}</div>
        <div class="plan-header">
          <h2>{{ plan.title }}</h2>
        </div>
        <div class="price">
          <span class="amount">{{ plan.price | number:'1.0-0' }}</span>
          <ng-container *ngIf="plan.currency"><span class="currency ">{{ plan.currency }}</span></ng-container>

          <span class="period">{{ plan.period }}</span>
        </div>
        <div class="features">
          <ul>
            <li *ngFor="let f of plan.features" [class.disabled]="!f.included">
              <i [ngClass]="f.included ? 'ri-check-line' : 'ri-close-line'"></i>
              <span [innerHTML]="f.label"></span>
            </li>
          </ul>
        </div>
        <!-- <a [href]="plan.link || '#'" class="cta-button">{{ plan.ctaText || 'Choisir ce plan' }}</a> -->
      </div>

    </div>
  </div>
</section>
