.container-1 {
  background-color: var(--color-primary);
  z-index: 1000;
  // margin-bottom: 106px;
  // width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 8px;
  position: fixed;
  width: 96vw;

  padding: 8px;
  border-radius: 56px;
  animation: shower both 1s;
  background-color: black !important;

  .icon {
    display: none;
  }

  animation: hidden auto;
  animation-timeline: scroller();

  .logo {
    display: flex;
    justify-content: center;
    margin-left: 36px;
    // align-items: ;
    align-content: space-around;
    // background-color: rgb(49, 32, 32);
    padding: 4px 42px;
    border-radius: 36px;
    transition: transform 1s ease;

    img {
      height: 36px;
      width: 26px;
      object-fit: cover;
    }

    h1 {
      // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: rgba(255, 255, 255, 0.974);
      text-transform: lowercase;
      margin-bottom: 4px;
      margin-left: 8px;
      // display: none;


    }

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

  }

  .list-web {
    // background-color: rgb(49, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;

    .icon {
      display: none;

    }

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      // background-color: red;
      padding-bottom: 4px;

      li {
        // background-color: black;
        max-width: 150px;
        // margin: 16px;
        padding: 0px 22px;
        color: rgb(0, 0, 0);
        overflow-y: hidden;
        // background-color: red;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        float: left;
        margin: 4px;
        font-weight: 600;
        transition: 0.5s ease-in-out;
        text-transform: lowercase;
        text-transform: capitalize;
        cursor: pointer;

        a {
          text-decoration: none;
          color: white;
        }

        .active {
          color: rgb(255, 240, 26);
        }

        // border-radius: 48px;
        // border: 1px solid rgba(101, 115, 117, 0.471);
        // font-family: 'poppins';
        // background-color:rgb(34, 34, 40);
        // &:hover{
        //   // color: rgb(26, 26, 28);
        //   cursor: pointer;
        //   // background-color: rgb(34, 46, 87);
        //   // color: white;
        //   transition: 0.5s ease-in-out;
        //   &::after{
        //     content: '';
        //     position: relative;
        //     top: 6px;
        //     display: block;
        //     height: 2px;width: 48px;
        //     background-color: rgba(109, 107, 107, 0.734);
        //   }

        // }
      }
    }
  }

  .connexion {
    padding: 9px 18px;
    border-radius: 39px;
    text-decoration: none;
    // background-color: rgb(11, 104, 78);
    border: none;
    transition: 0.5s linear;

    &:hover {
      transform: scale(1.08);
    }

    .connexion-2 {
      background-color: red !important;
    }

    a {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      .active {
        color: white;
      }
    }
  }


}





// @media screen and (min-width:700px) {
//   .container{
//     position: fixed;
//   background-color: white;
//   // padding: 8px;
//   // border-radius: 8px;
//   margin: 12px;
//   display: flex;
//   width: 98vw;
//   justify-content: space-evenly;
//   border-radius: 60px;
//   align-items: center;
//   align-self: center;
//   padding: 12px 0px;
//   .icon{
//     display: none;
//   }
//   .nav{
//     background-color: red;
//     z-index: 100;
//     ul{
//       background-color: yellow;

//       li{
//         color: black;
//       }
//     }
//   }
//   }
// }

@media screen and (max-width: 640px) {

  .container {
    display: flex;
    flex-direction: column;
    margin: 8px;
    position: fixed;
    width: 92vw;
    // height: 68px;
    padding: 2px;
    z-index: 100;

    .connexion {
      display: none;
    }

    a {
      .connexion-2 {}
    }

    // background-color: red;
    .logo {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      // background-color: rgb(116, 142, 239);
      border-radius: 12px;
      display: flex;
      width: 90%;

      .icon {
        display: block;
        color: white;
        font-size: 28px;
      }
    }

    .list-web {
      display: none;
    }

    .list {
      // background-color: rgba(86, 84, 84, 0.282);
      margin: 5px 0;
      padding: 18px;
      border-radius: 2px;
      width: 150px;
      display: flex;
      flex-wrap: wrap;
      // background-color: rgba(38, 40, 44, 0.356);
      border-radius: 8px;

      .icon {
        i {
          color: rgb(239, 239, 239);
        }
      }




      .item-menu {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
          text-decoration: none;
          width: 100%;
          padding: 8px;
          border: 1px solid rgba(172, 167, 167, 0.264);
          text-align: center;
          color: rgb(37, 36, 36);
          margin: 3px;
          border-radius: 4px;
          background-color: rgb(251, 200, 16);

          .connexion {
            background-color: red;
          }
        }
      }



    }
  }

  .connexion {
    background-color: red;
  }

}

@keyframes shower {
  from {
    transform: scale(0);
    transform: translateY(-50%);
    opacity: 0;
  }

  // }
  to {
    transform: scale(1);
  }
}

@keyframes hidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}