<nav class="navbar navbar-expand-lg sticky-top px-sm-5" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <div class="d-flex align-items-center gap-2">
                <img src="../../../assets/Image/bg.png" alt="Logo efere" width="25">
                <div class="" style="color: aqua;">EFERE</div> </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-2">
                <li class="nav-item text-white mx-sm-3" *ngFor="let item of menuItems" (click)="closeNavbar()">
                    <a class="nav-link" aria-current="page" [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> {{item.label}}</a>
                </li>
            </ul>

            <span class="navbar-text text-white ">
                <button class="text-uppercase text-white" (click)="gotoEspaceClient()">
                  Mon Espace
                  <i class="bi bi-arrow-right-circle-fill"></i>
                </button>
            </span>
        </div>
    </div>
</nav>
