<div class="container">

    <div class="image">
        <img src="../../../assets/Image/faq2.svg" alt="Illustration de support et FAQ">
    </div>

    <div class="titre">
        <h1>
            Réponses aux questions de base (FAQ)
        </h1>
    </div>

    <div class="faqs">
        <mat-accordion class="accordion-list">
            <mat-expansion-panel *ngFor="let item of faqs" class="item">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ item.titre }}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-panel-description>
                        {{ item.description }}
                    </mat-panel-description>

                    <p *ngFor="let detail of item.contents">
                        {{ detail }}
                    </p>

                    <div class="images" *ngIf="item.illustrations && item.illustrations.length > 0">
                        <h2>
                            Quelques images d'illustrations
                        </h2>
                        <div class="image" *ngFor="let illustraion of item.illustrations">
                            <label> {{illustraion.titre}} </label>
                            <img [src]="illustraion.image" alt="Illustration pour {{illustraion.titre}}">
                        </div>
                    </div>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>
