*{
  // z-index: -99;
}

.container{
  margin-top: 126px;
  // background-color: #3b3b3b66;
  border-radius: 4px;
  margin-bottom: 36px;
  padding: 36px;
  // z-index: -100;
  .image{
    // background-color: white;
    // height: 200px;
    width: 450px;
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
  }

  .titre{
    background-color: black;
    justify-content: center;
    padding: 16px;
    color: white;
    border-radius: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .faqs{
    // margin-top: 36px;
    // background-color: red;
    z-index: 10;
    justify-content: center;
    display: flex;
    max-width: 1000px;

    .accordion-list{
      background-color: rgb(255, 255, 255);
      border: none;
      padding: 26px;
      border-bottom-right-radius: 26px;
      border-bottom-left-radius: 26px;
      .item{
        padding: 22px 6px;
        border: 1px solid rgba(210, 209, 209, 0.462);
        margin: 24px 2px;
        overflow: hidden;
        mat-expansion-panel-header{
          font-size: 18px;
          font-weight: 400;
          text-transform: uppercase;
        }

        mat-list{
          p{
            max-width: 1200px;
            padding: 8px;
            border: 0.5px solid rgba(171, 165, 165, 0.179);
            text-wrap: wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
            white-space: normal;
            // text-overflow: ;
            font-size: 12px;
            background-color: rgba(21, 20, 20, 0.781);
            color: white;
            margin: 1px auto;
            &::before{
              content: '+';
              margin: 5px 7px;
            }
          }
        }

        .images{
          background-color: white;
          // background-color: #8EC5FC;
// background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          // border: 1px solid black;
          padding: 32px;
          background-color: rgba(155, 154, 154, 0.164);
          h2{
            padding: 16px;
            font-weight: 400;
            text-align: center;
            width: 100%;
          }
          .image{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 50%;
            margin: 16px auto;
            border: 4px solid black;
            padding: 8px;
            border-radius: 12px;
            label{
              padding: 12px;
              background-color: black;
              color: white;
            }
          }
        }

      }
    }

  }
}




@media screen and (max-width:520px) {
  *{
    padding: 0px;
  }
  .container{
    // background-color: red;
    width: 98vw;
    margin-left: 0px;
    padding: 0px;

    .accordion-list{
      // background-color: red;
      margin: 0px;
      padding: 0px;
      mat-expansion-panel{
        // background-color: red;
        margin: 6px;
        mat-list{
          // background-color: red;
          padding: 0px;
          margin: 0px;
          .images{
            padding: auto;
          }
        }
      }
    }
  }
}
