<div class="faq-page-container">

    <header class="faq-header">
        <!-- <div class="illustration-wrapper d-none d-md-block">
            <img src="../../../assets/Image/faq2.svg" alt="Illustration de support et FAQ" class="header-illustration">
        </div> -->
        <div class="title-wrapper">
            <h1 class="page-title">
                Réponses aux questions de base (FAQ)
            </h1>
            <p class="subtitle">Trouvez des solutions rapides à vos questions les plus fréquentes.</p>
        </div>
    </header>

    <div class="faqs-list">
        <mat-accordion class="accordion-list">
            <mat-expansion-panel
                *ngFor="let item of faqs; let i = index"
                class="faq-item"
                [@fadeInUp]="{value: i, params: { delay: i * 100 }}"

            >
                <mat-expansion-panel-header class="faq-header-title">
                    <mat-panel-title>
                        <mat-icon color="primary">question_answer</mat-icon>
                        <span class="question-text">{{ item.titre }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="faq-content-body">
                    <mat-panel-description class="faq-description">
                        {{ item.description }}
                    </mat-panel-description>

                    <p *ngFor="let detail of item.contents" class="faq-detail-paragraph">
                        {{ detail }}
                    </p>

                    <div class="faq-illustrations" *ngIf="item.illustrations && item.illustrations.length > 0">
                        <h3 class="illustrations-title">
                            Quelques images d'illustrations
                        </h3>
                        <div class="illustration-gallery">
                            <div class="illustration-item" *ngFor="let illustraion of item.illustrations">
                                <label class="illustration-caption"> {{illustraion.titre}} </label>
                                <img [src]="illustraion.image" alt="Illustration pour {{illustraion.titre}}">
                            </div>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>
