<div class="container">
  <div class="banner animate row justify-content-between" appScrollAnimation>
    <div class="contents col-md-6 col-12 d-flex flex-column align-items-center align-items-md-start justify-content-center">
      <div class="d-flex flex-column">
        <span class="shadow-xl   m-1 rounded banner-text">
        Gérez Toutes les activitées de votre entreprise de façon efficace avec un Seul Outil Efere
      </span>
      <p class="paragraphe">
        Qu'est ce que vous pouvez faire avec efere
      </p>
      </div>

      <div class="d-flex flex-row justify-content-between align-items-center fonctionnalites flex-wrap">

        <div class="row g-4"  >
          <div class="wrapper p-0 col-xl-3 col-4" *ngFor="let item of fonctionnalite">
            <div class="bar"></div>
            <div class="glass d-flex flex-column justify-content-center align-items-center p-2 text-center">
              <div class="badge-icon mb-2">
                <i [class]="item.icon" style="font-size: 22px;" ></i>
              </div>
              <p class="font-thin font-normal text-align text-black" style="font-size: 11px;">{{item.texte}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="available d-flex flex-column align-items-center ml-sm-5 gap-3 mt-5">
        <div class="font-large">
          Disponible sur
        </div>
        <ul class="d-flex gap-2 p-0 m-0 list-unstyled">
          <li *ngFor="let item of availables" class=" shadow cursor-pointer rounded p-3 ">
            <img [src]="item.icon" alt="item.texte" width="25" />
          </li>
        </ul>

      </div>
    </div>
    <div class="image col-md-4 col-12 d-flex justify-content-center align-items-center mx-auto">
      <img src="../../../assets/Image/phone22.png" alt="">

    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-7 mx-auto d-sm-block d-none" id="image-ordi" appScrollAnimation>
    <img src="../../../assets/Image/mac 1.png" class="" alt="">
  </div>
  </div>


  <div class="carousel animate" appScrollAnimation>
    <app-header-carousel></app-header-carousel>
  </div>


  <div class="animate mt-5 d-flex flex-column justify-center  align-items-center" appScrollAnimation>
    <div class="titre">
      <h2>
        Pourquoi adopter Efere ?
      </h2>
      <p>
        Avec efere, vous bénéficiez d'une solution complète et intégrée pour gérer tous les aspects de votre entreprise. Nos fonctionnalités avancées vous permettent de
      </p>
    </div>
    <div class="row">
      <div class="col-xl-3 col-12 g-3 wrapper avantage-item" *ngFor="let item of avantages">
        <div class="bar"></div>
        <div class="d-flex flex-column  align-items-center p-3 glass-2">
          <h1>{{item.titre}}</h1>
          <div class="icon-wrapper">
            <i [class]="item.icon" style="font-size: 26px;"></i>
          </div>
          <p class="text-black font-thin" style="font-size: 14px;">
            {{item.description }}
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
