<div class="container">

    <h1 class="titre">
        À Propos de efere
    </h1>

    <div class="contain">

        <div class="feature-card animate" appScrollAnimation>
            <div class="image-wrapper">
                <img src="../../../assets/icons/legacy.png" alt="Icône Notre Engagement">
            </div>
            <div class="body-content">
                <h1>Notre Engagement</h1>
                <p>
                    Chez Guira & Frères, nous nous engageons à offrir des outils puissants et intuitifs pour répondre aux besoins croissants des entreprises modernes. efere a été conçue avec une attention particulière aux détails, en intégrant les meilleures pratiques de l'industrie et en écoutant attentivement les retours de nos utilisateurs. Notre mission est de simplifier la gestion quotidienne de votre entreprise pour vous permettre de vous concentrer sur ce qui compte vraiment : la croissance et la satisfaction de vos clients.
                </p>
            </div>
        </div>


        <div class="feature-card animate reverse" appScrollAnimation>
            <div class="image-wrapper">
                <img src="../../../assets/icons/utility.png" alt="Icône Utilité">
            </div>
            <div class="body-content">
                <h1>L'Utilité d'efere</h1>
                <p>
                    efere est une solution complète conçue pour simplifier la gestion quotidienne des stocks, des ventes, et de la comptabilité. Que vous soyez une petite entreprise en pleine croissance ou une grande organisation, efere s'adapte à vos besoins spécifiques. Avec une interface conviviale et des fonctionnalités avancées, efere vous aide à maximiser votre efficacité opérationnelle et à améliorer la satisfaction de vos clients.
                </p>
            </div>
        </div>


        <div class="feature-card animate" appScrollAnimation>
            <div class="image-wrapper">
                <img src="../../../assets/icons/answer.png" alt="Icône Pourquoi nous choisir">
            </div>
            <div class="body-content">
                <h1>Pourquoi nous choisir</h1>
                <p>
                    efere est une solution complète conçue pour simplifier la gestion quotidienne des stocks, des ventes, et de la comptabilité. Que vous soyez une petite entreprise en pleine croissance ou une grande organisation, efere s'adapte à vos besoins spécifiques. Avec une interface conviviale et des fonctionnalités avancées, efere vous aide à maximiser votre efficacité opérationnelle et à améliorer la satisfaction de vos clients.
                </p>
            </div>
        </div>

        <div class="feature-card animate reverse" appScrollAnimation>
            <div class="image-wrapper">
                <img src="../../../assets/icons/dev.png" alt="Icône Développé par">
            </div>
            <div class="body-content">
                <h1>Développé par</h1>
                <p>
                    efere est le produit phare de Guira & Frères, une équipe de développeurs passionnés située à Abidjan, en Côte d'Ivoire. Forts de notre expérience dans le développement logiciel et déterminés à fournir des solutions innovantes, nous avons créé efere pour révolutionner la gestion des stocks et des relations commerciales pour les entreprises de toutes tailles.
                </p>
            </div>
        </div>

    </div>
</div>
