.container{
  margin-top: 106px;
  .titre{
    text-align: center;
    font-weight: bolder;
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h1{
    font-size: 26px;
    font-weight: 500;
    margin: 0 12px;
    // background-color: red;
  }

  .contain{
    // padding: 36px;
    display: grid;
    // flex-direction: ;
    align-items: center;
    justify-content: center;
    // min-height: 200vh;
    overflow: hidden;
    .dev{
      background-color: rgba(1, 1, 1, 0.079);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 32px;
      // background-color: red;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      border-radius: 11px;
      // margin: 86px auto;
      margin: 18px 18px;
      // background-color: red;

      .image{
        // margin: 12px 26px;
        // background-color: rgba(255, 255, 255, 0.238);
        padding: 22px;
        border-radius: 90px;
        border: 2px solid rgba(255, 255, 255, 0.24);
        img{
          width: 90px;

          background-color: unset;
        }
      }

      .body{
        // background-color: red;
        margin-left: 26px;
        // animation: shower auto linear;
        // animation-timeline: view();
        // animation-range: entry 25% contain 100%;
        h1{
          color: black;
          font-weight: bolder;
        }
        p{
          max-width: 500px;
          // color: white;
        }
      }
    }
  }
}



// @keyframes shower {
//   from{
//     opacity: 0;
//     transform: scale(0);
//   }
//   to{
//     opacity: 1;
//     transform: scale(1);
//   }
// }


