<div class="container">
  <h1 class="titre">
    A Propos de Efferay
  </h1>
  <div class="contain">


    <div class="dev animate" appScrollAnimation>
      <div class="image">
        <img src="../../../assets/icons/legacy.png" alt="">
      </div>
      <div class="body">
        <h1>
          Notre Engagement
        </h1>
        <p>
          Chez Guira & Frères,
          nous nous engageons à offrir des outils puissants et intuitifs pour répondre aux besoins croissants des entreprises modernes.
          Efferay a été conçue avec une attention particulière aux détails,
          en intégrant les meilleures pratiques de l'industrie et en écoutant attentivement les retours de nos utilisateurs.
          Notre mission est de simplifier la gestion quotidienne de votre entreprise pour vous permettre de vous concentrer sur ce qui compte vraiment : la croissance et la satisfaction de vos clients.
        </p>
      </div>
    </div>


    <div class="dev animate" appScrollAnimation>
      <div class="image" >
        <img src="../../../assets/icons/utility.png" alt="">
      </div>
      <div class="body">
        <h1>
          L'Utilité d'Efferay
        </h1>
        <p>
          Efferay est une solution complète conçue pour simplifier la gestion quotidienne des stocks,
          des ventes, et de la comptabilité. Que vous soyez une petite entreprise en pleine croissance ou une grande organisation,
          Efferay s'adapte à vos besoins spécifiques. Avec une interface conviviale et des fonctionnalités avancées,
          Efferay vous aide à maximiser votre efficacité opérationnelle et à améliorer la satisfaction de vos clients.
        </p>
      </div>
    </div>


    <div class="dev animate" appScrollAnimation>
      <div class="image">
        <img src="../../../assets/icons/answer.png" alt="">
      </div>
      <div class="body">
        <h1>
          Pourquoi nous choisir
        </h1>
        <p>
          Efferay est une solution complète conçue pour simplifier la gestion quotidienne des stocks,
          des ventes, et de la comptabilité. Que vous soyez une petite entreprise en pleine croissance ou une grande organisation,
          Efferay s'adapte à vos besoins spécifiques. Avec une interface conviviale et des fonctionnalités avancées,
          Efferay vous aide à maximiser votre efficacité opérationnelle et à améliorer la satisfaction de vos clients.
        </p>
      </div>
    </div>

    <div class="dev animate" appScrollAnimation>
      <div class="image">
        <img src="../../../assets/icons/dev.png" alt="">
      </div>
      <div class="body">
        <h1>
          Développé par
        </h1>
        <p>
          Efferay est le produit phare de Guira & Frères,
           une équipe de développeurs passionnés située à Abidjan,en Côte d'Ivoire.
            Forts de notre expérience dans le développement logiciel et déterminés à fournir des solutions innovantes,
             nous avons créé Efferay pour révolutionner la gestion des stocks et des relations commerciales pour les entreprises de toutes tailles.
        </p>
      </div>
    </div>

  </div>
</div>
