<section class="contact-section">
    <div class="contact-container animate" appScrollAnimation>
        <div class="contact-illustration" style="">
            <img src="../../../assets/Image/Mail.gif" alt="Contact Illustration">
        </div>

        <div class="contact-form-wrapper">
            <div class="header">
                <h1>Contactez-Nous</h1>
                <p>Nous sommes ravis d'entendre parler de vous ! Remplissez le formulaire ci-dessous et nous vous recontacterons dans les plus brefs délais.</p>
            </div>

            <form [formGroup]="userForm!" (ngSubmit)="onContact()">
                <div class="input-floating">
                    <input type="text" class="form-control" name="name" formControlName="name" placeholder=" " />
                    <label for="name">Nom et Prénom</label>
                </div>

                <div class="input-floating">
                    <input type="email" name="email" formControlName='email' placeholder=" " />
                    <label for="email">Email</label>
                </div>

                <div class="input-floating">
                    <input type="tel" name="phone" formControlName='phone' placeholder=" " />
                    <label for="phone">Numéro de téléphone</label>
                </div>

                <div class="input-floating">
                    <input type="text" name="subject" formControlName='subject' title="" placeholder="" />
                    <label for="subject">Sujet</label>
                </div>

                <div class="input-floating textarea-group">
                    <textarea name="message" formControlName='message' ></textarea>
                    <label for="message">Votre message</label>
                </div>

                <div class="btn-group">
                    <button type="reset">Annuler</button>
                    <button type="submit" [disabled]="userForm?.invalid">Envoyez</button>
                </div>
            </form>

            <span class="error" *ngIf="showError==true">
                <p>Vérifiez votre connexion ou les informations saisies.</p>
            </span>
            <span class="success" *ngIf="showResponse==true">
                <p>Message envoyé avec succès !</p>
            </span>
        </div>
    </div>
</section>
