// .body {
//   // background-color: #444442;
//   padding-top: 85px;
//   // max-height: 70vh;
// }

// .container{
//   // max-height: 70vh;
// }

// h1 {
//   font-family: 'Poppins', sans-serif, 'arial';
//   font-weight: 600;
//   font-size: 48px;
//   color: white;
//   text-align: center;
// }

// h4 {
//   font-family: 'Roboto', sans-serif, 'arial';
//   font-weight: 400;
//   font-size: 20px;
//   color: #9b9b9b;
//   line-height: 1.5;
// }

// /* ///// inputs /////*/

// input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
//   font-size: 0.75em;
//   color: #999;
//   top: -5px;
//   -webkit-transition: all 0.225s ease;
//   transition: all 0.225s ease;
// }

// .styled-input {
//   float: left;
//   width: 293px;
//   margin: 10px 0;
//   position: relative;
//   border-radius: 4px;

// }

// .inline{
//   // background-color: red;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: space-between;
// }

// @media only screen and (max-width: 768px){
//   .styled-input {
//       width:100%;
//   }

//   .inline{
//     input{
//       width: 80vw;
//     }
//   }
// }

// .styled-input label {
//   color: #999;
//   padding: 1.3rem 30px 1rem 30px;
//   position: absolute;
//   top: 10px;
//   left: 0;
//   -webkit-transition: all 0.25s ease;
//   transition: all 0.25s ease;
//   pointer-events: none;
// }

// .styled-input.wide {
//   width: 650px;
//   max-width: 100%;
// }

// input,
// textarea {
//   padding: 30px;
//   border: 0;
//   width: 100%;
//   font-size: 1rem;
//   background-color: #2d2d2d;
//   color: white;
//   border-radius: 4px;
// }

// input:focus,
// textarea:focus { outline: 0; }

// input:focus ~ span,
// textarea:focus ~ span {
//   width: 100%;
//   -webkit-transition: all 0.075s ease;
//   transition: all 0.075s ease;
// }

// textarea {
//   width: 100%;
//   min-height: 10em;
// }

// .input-container {
//   display: flex;
//   flex-direction: column;
//   width: 650px;
//   max-width: 100%;
//   // height: 600px;
//   margin: 20px auto 25px auto;
//   background-color: rgba(133, 127, 127, 0.425);
//   padding: 12px;
//   border-radius: 4px;
// }

// .submit-btn {
//   float: letf;
//   padding: 18px 28px;
//   border-radius: 8px;
//   display: inline-block;
//   background-color: #7d4bfb;
//   color: white;
//   font-size: 18px;
//   cursor: pointer;
//   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
//             0 2px 10px 0 rgba(0,0,0,0.07);
//   -webkit-transition: all 300ms ease;
//   transition: all 300ms ease;
// }

// .submit-btn:hover {
//   transform: translateY(1px);
//   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
//             0 1px 1px 0 rgba(0,0,0,0.09);
// }
// button{
//   background-color: transparent;
//   border: none;
//   padding-bottom: 8px;
//   font-size: 14px;
//   color: white;
// }



// input[type=checkbox] + label {
// color: #ccc;
// font-style: italic;
// }

// input[type=checkbox]:checked + label {
// color: #f00;
// font-style: normal;
// }

// .active{
//   // background-color: red;
//   cursor: pointer;
// }

// .disable{
//   background-color: rgba(220, 231, 245, 0.377);
//   cursor: none;
//   button{
//     cursor: none

//   }
// }

// .response{
//   background-color: green;
//   color: white;
//   padding: 22px;
//   border-radius: 8px;
//   margin: 12px 0px;
//   display: flex;
//   justify-content: space-between;
//   i{
//     // padding:18px 14px;
//     background-color: red;
//     border-radius: 22px;
//     font-size: 28px;
//     transition: transform 0.5s;
//     cursor: pointer;
//     &:hover{
//       transform: scale(1.1);
//     }

//   }

// }

// @media (max-width: 768px) {
//   .submit-btn {
//       width:100%;
//       float: none;
//       text-align:center;
//   }

//   .body{
//     // background-color: red;
//     width: 98vw;
//     .styled-input{
//       width: 90vw;
//     }

//     .btn-lrg{
//       width: 74vw;
//     }

//     .response{
//       max-width: 80vw;
//     }
//   }
// }


.container{
  background-color: rgba(0, 0, 0, 0.29);
  border-radius: 2px;
  top: 56px;
  padding: 16px;
  margin: 86px;
  border-radius: 4px;

  .header{
    h1{
      font-size: 46px;
      color: white;

    }
  }

  .error,.success{
    p{
      background-color: red;
      padding: 12px 12px;
      margin: 22px;
      border-radius: 8px;
      color: white;
    }
  }
  .success{
    background-color: green;
    color: white;
  }
  .body{

    .input-group,.textarea-group{
      // background-color: yellow;
      margin: 2px 6px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      label{
        color: rgba(0, 0, 0, 0.432);
        text-transform: capitalize;
        margin: 1px 2px;
      }
      input{
        padding: 8px;
        border-radius: 2px;
        border: 0px solid transparent;
        background-color: rgba(250, 250, 250, 0.852);
      }
    }
    textarea{
      resize: none;
      height: 11em;
      padding: 4px;
      border-radius: 2px;
      background-color: rgba(250, 250, 250, 0.852);

    }

    .btn-group{
      margin: 12px;
      display: flex;
      // width: 100%;
      // background-color: yellow;
      border: 1px solid rgba(0, 0, 0, 0.226);
      align-content: space-between;
      padding: 4px;
      border-radius: 2px;
      justify-content: space-between;
      button{
        margin: 8px;
        padding: 12px 18px;
        border: none;
        color: white;
        border-radius: 6px;
        cursor: pointer;
        background-color: rgb(235, 42, 109);
        transition: 0.5s;
        &:first{
          background-color: red;
        }
        &:hover{
          transform: scale(1.1);
        }
        &:disabled{
          background-color: silver;
          cursor: none;
        }
      }
    }
  }
}

@media screen and (max-width:520px) {

  .container{
    width: 96vw;
    margin:106px 6px;
    padding: 2px;
    h1{
      font-size: 22px;
    }
    .body{
      // background-color: red;
      margin: 0px;
    }

  }
  input,textarea{
    padding: 22px;
    background-color: white;
  }
}
