<div class="container animate" appScrollAnimation>

    <div class="body">
        <div class="logo">
          <img src="../../../assets/Image/bg.png" alt="">
        </div>
        <div class="title">
          <div class="left-bar">

          </div>
          <h1>
            Efferay
          </h1>
          <div class="right-bar">

          </div>

        </div>
        <p>
          Efferay est une application qui vous permet de gérer l'ensemble des activitées de votre entreprise
        </p>
        <div class="contact">
          <span>
            <p>Contact</p>
            <p>+225 07 08 06 76 17</p>
          </span>
        </div>
        <div class="social-media">
          <span>
            <i class="ri-whatsapp-line"></i>
          </span>
          <span>
            <i class="ri-facebook-line"></i>
          </span>
          <span>
            <i class="ri-telegram-fill"></i>
          </span>
        </div>
      </div>

</div>
