.container{
  background-color: black;
  height: 250px;
  // object-fit: contain;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  overflow-y: hidden;
  padding-top:22px;
  .body{
    .logo{
      display: flex;
      justify-content: center;
      img{
        width: 50px;
        height: 50px;
      }

      // height: 100px;
      // display: flex;
      // justify-content: center;

      // background-color: red;
      // align-content: center;
      // align-content: center;
    }

    .title{
      display: flex;
      flex-direction: row;
      // background-color: green;
      align-content: center;
      align-self: center;
      align-items: center;
      .left-bar,.right-bar{
        height: 7px;
        width: 200px;
        background-color: red;
        margin-top: 6px;
        border-radius: 18px;
      }
      h1{
        color: rgb(255, 255, 255);
        font-size: 36px;
        font-weight: bolder;
        margin: auto 18px;

        // font
      }
    }
    p{
      max-width: 550px;
      color: rgba(255,255,255,0.4);
      text-align: center;
      // background-color: red;
    }
    .social-media{
      // background-color: white;
      // background-color: red;
      padding: 12px;
      display: flex;
      justify-content: center;
      span{
        // background-color: white;
        i{
          // background-color: white;
          color: rgba(255, 255, 255, 0.496);
          &:hover{
            color: white;
            cursor: pointer;
            transform: scale(1.1);
          }
        }
        font-size: 28px;
      }
    }
  }
}


@media screen and (max-width:700px) {
  .left-bar,.right-bar{
    height: 7px;
    width: 10vw;
    background-color: rgb(34, 0, 255);
    margin-top: 6px;
    border-radius: 18px;
  }
}
