*{
  margin: 0;
}



.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.animate {
  margin: 20px 0;
  padding: 20px;
  background-color: lightblue;
  width: 80%;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#progress{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: .5em;
  background-color: rgb(255, 219, 42);
  border-radius: 36px;
  transform-origin: 0 50%;
  animation: scroller-timeline auto linear;
  animation-timeline: scroll();
}

@keyframes scroller-timeline {
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
}
