*{
  user-select: none;
}

.carousel-1{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  // background-color: red;
  // background-color: red;
  // position: relative;
  margin-top: 86px;
  // background-color: red;
  .grand{
    // background-color: black;
    color: black;
  }
  .titre{
    max-width: 900px;
    text-align: center;
    font-size: 18px;
    text-align: center;
    text-justify: inter-word;
    padding: 12px;
    border-radius: 6px;

    h1{
      text-transform: uppercase;
      font-weight: bolder;
      text-emphasis:unset;
      text-transform: uppercase;
      // text-align: start;
      // font-family: cursive;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      // scale: 1;
      animation:show-text auto linear;
      animation-timeline: view();
      animation-range: cover 0% cover 100%;

    }
    p{
      font-size: 16px;
    }
  }

  .carousel-containt-1{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.277);

    justify-content: space-between;
    // background-color: yellow;
    // height: 600px;
    border-radius: 11px;
    // width: 75vw;
    // padding: 26px;
    align-items: start;
    overflow-y: hidden;
    // max-height: 68vh;
    padding: 16px 2px;
    .header{
      // background-color: red;
      margin-top: 38px;


    }

    .image{
      // background-color: red;
      padding: 22px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-content: center;
      // background-color: red;
      img{
        // width: 80%;
        // max-width: 320px;
        height: 280px;
        // border: 1px solid rgba(0, 0, 0, 0);
        margin-bottom: 26px;
        border-radius: 12px;
        object-fit: contain;
        // padding: 16px;
        margin-top: 26px;
        background-color: rgba(0, 0, 0, 0.132);
        border-radius: 8px;
        object-fit: fill;
        // border-image-width: 2px;
      }
      .titre{

        // border: 2px solid blue;
        // border: 1px solid black;
        background-color: rgba(62, 60, 60, 0.096);
        h3{
          // width: 300px;
          padding: 12px;
          font-size: 14px;
          font-weight: 600;
          // box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.575);
          border-left: 12px solid rgba(251, 233, 43, 0.784);
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          border-right: none;
          max-width: 380px;
          margin-right: 36px;
          // background-color: red;
          color: rgb(12, 12, 12);
          // &::before{
          //   content: "";
          //   // display: flex;
          //   height: 50px;
          //   width: 3px;
          //   background-color: blue;
          // }
        }
        p{
          max-width: 420px;
          padding: 16px;
          margin: 18px;
          font-size: 12px;
          background-color: rgba(120, 120, 120, 0.274);
          border-radius: 66px;
          border: 1px solid rgba(0, 0, 0, 0.11);
        }
      }

    }

    .header{
      ul{
        // background-color: red;
        li{
          padding: 8px;
          margin: 8px;
          font-weight: 500;
          // color: rgb(255, 255, 255);
          font-size: 11px;
          // background-color: rgb(0, 0, 0);
          cursor: pointer;
          // color: white;
          // background-color: red;
          .active{
            background-color: yellow;
          }
          &:hover{
            color: rgb(80, 162, 224);
          }
        }
      }
    }


    .item{
      display: flex;
      // background-color: blue;
      justify-content: center;
      overflow: hidden;
      .border{
        border: 1px solid rgba(255, 231, 96, 0.945);
        border-radius: 36px;
        margin: 0 2px;
        cursor: pointer;
        .element{
          background-color: rgb(19, 20, 20);
          width: 5px;
          height: 5px;
          margin: 4px;
          border-radius: 36px;
        }
      }
      .disable{
        border: none;
      }
    }


  }
}
.active{
  background-color: rgba(2, 2, 2, 0.205);
  color: white;
  text-align: center;
  border-radius: 8px;
  transition:background-color 1s ease ;

}





.image-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.image-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes show-text {
  to{
    scale: 0;
  }
  from{
    scale: 2;
  }
}

@keyframes image-enter {
  to{
    transform: translateX(-50%);
  }
  from{
    transform: translateX(0%);
  }
}

@media screen  and (max-width:720px) {

  .container{
    margin: 16px;
    width: 98vw;
    // background-color:green;
    // height: 100vh;
    .carousel-1{
      .grand{
        font-size: 14px;
        p{
          text-align: start;
          margin: 16px auto;
        }
      }

      .header{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: indigo;
      }

      .carousel-containt-1{
        // background-color: red;
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        // height: 400px;
        border-radius: 6px;
        // min-height: 150vh;
        // background-color: red;
        li{
          color: black;
          // background-color: red;
        }
        .titre{
          // background-color: red;
          width: 100vw;
          margin:auto 18px;
          h3{
            // background-color: yellow;
            width: 80vh;
            // margin: auto 36px;
          }
        }
        .active{
          // background-color: red;
          padding: 8px;
          color: white;
          justify-content: center;
          border-radius: 4px;
        }
        .deactive{
          color: black;
          // background-color: black;
        }
      }
    }
  }

}

