

.resize{
  max-width: 700px;
  background-color: red;
  margin: auto;
}

.title{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary-accent);
  margin-bottom: 15px;
  position: relative;

  // Ligne décorative sous le titre de la fonctionnalité
  &::after {
      content: '';
      display: block;
      width: 50px;
      height: 4px;
      background-color: var(--color-secondary-accent);
      margin-top: 5px;
      border-radius: 1.5px;
  }
}
