/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  overflow-x: hidden;
  // overflow-y: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

*{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;
}

body{
  background-color: #a9b3e5;
  background-image: linear-gradient(43deg, #94a0db89 0%, #e280dbf1 46%, #ffcd70f9 100%);
}

.animate-on-scroll {
  // opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.in-view {
  opacity: 1;
  transform: translateY(0);
}

// .scroll-container {
//   width: 100%;
//   overflow-x: auto;
//   white-space: nowrap;
// }

// .scroll-container::-webkit-scrollbar {
//   height: 26px; /* Height of the horizontal scrollbar */
//   width: 12px;
// }

// .scroll-container::-webkit-scrollbar-track {
//   background: #1b1b1b; /* Background of the scrollbar track */
// }


// .scroll-container::-webkit-scrollbar-thumb {
//   background: #f6efdd; /* Color of the scrollbar thumb */
//   border-radius: 6px; /* Round corners of the scrollbar thumb */
// }

// .scroll-container::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Color of the scrollbar thumb on hover */
// }

.app-image{
  animation: reveal linear;
  animation-timeline: view();
  animation-range: contain 0% contain 50%;



}

#text-carousel{
  animation: reveal auto linear;
  animation-timeline: scroller();
  // animation-range: contain 0% contain 100%;
}

@keyframes reveal{
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

.animate {
  opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.5s ease,transform 0.5s ease;

      &.visible{
        opacity: 1;
        transform: translateY(30px);
        transition: opacity 0.5s ease,transform 0.5s ease;
        animation: show 0.5s ease forwards;
      }
}

@keyframes show {
  from{
    opacity: 0;
    transform: translateY(90px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';
